# OS/editor
.DS_Store
.vscode/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
.env
*.env

# Data & scans (keep code, ignore heavy outputs)
data_raw/
data_tmp/
data_intermediate/
scans_slither/
scans_mythril/
scans_echidna/
scans_smartcheck/
*.parquet
*.feather
*.pickle
*.pkl
*.csv
