# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/
.venv*/
.env
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Outputs / caches
data_out/
data_clean/
logs/
tmp/
*.log

# Large/raw data (decide what you want tracked)
# If you DO want to track data_raw, delete this line.
data_raw/sources/
.env
